@import "nullstyle.scss";
@font-face {
    font-family: 'CirceExtra';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('../fonts/Circe Extra Bold'), local('Circe-ExtraBold'),
        url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
        url('../fonts/Circe-ExtraBold.woff') format('woff'),
        url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'CirceRegular';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CirceBold';
    src: url('../fonts/Circe-Bold.eot');
    src: local('../fonts/Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*---------------------------------------------------*/
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:black;
    font-family: 'CirceExtra';
}
/*---------------------------------------------------*/
hr{
    opacity: 0.3;
    border: 1px solid #333333;
}
/*---------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
/*---------------------------------------------------*/
.container{
    max-width: 1296px;
    position: relative;
    margin: 0px auto;
}
/*---------------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    margin: 20px 0px;
    height: 140px;
    left:0;
    top:0;
    z-index:50;
    &__container {
        height:140px;
    }

    &__delimiter {
        position: relative;
        bottom: 28px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    &__menu {
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 167px;
        font-family: 'CirceBold';
        font-size: 14px;
    }

    &__item {
        margin-right: 20px;
        color: #333333;
    } 
    &__item--no-margin {
        margin: 0px;
        color: #333333;
    } 
}
/*---------------------------------------------------*/
.header__icon {
    position: relative;
    width: 60px;
    height: 60px;
    top: -60px;
}
/*---------------------------------------------------*/
.button {
    background-color: rgba(236, 27, 46, 1);
    color: white;
    width: 143px;
    height: 40px;
    font-size: 14px;
}
/*---------------------------------------------------*/
.header__button {
    position: absolute;
    top: 0px;
    right: 0px;
}
/*---------------------------------------------------*/
.contact-information{
    display: inline-block;
    font-family: 'CirceRegular';
    font-size: 14px;
    &__adress {
        display: inline-block;
        margin-top: 3px;
    }

    &__adress-image {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }

    &__telephone {
        display: inline-block;
        margin-top: 3px;
    }

    &__telephone-image {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 20px; 
        margin-left: 45px;   
    }   

    &__e-mail {
        display: inline-block;
        margin-top: 3px;
    }

    &__e-mail-image {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 20px;        
        margin-left: 45px;   
    }
}
/*---------------------------------------------------*/
.header__contact-information{
    width: 674px;
    height: 24px;
    position: absolute;
    left:348px;
    margin-top: 8px;
    margin-bottom: 28px; 
}
/*---------------------------------------------------*/
.school-name{
    font-family: 'CirceBold';
    display: inline-block;
}
/*---------------------------------------------------*/
.header__school-name{
    color:rgba(236, 27, 46, 1);
    font-size: 14px;
    width: 217px;
    height: 38px;
    margin-bottom: 29.43px;
    line-height: 140%;
}
/*---------------------------------------------------*/
.main-image {
    position: relative;
    &__town-image {
        width: 100%;
        max-width: 100%;
        height: 700px;
        position: absolute;
        top: 180px;
    }

    &__container {
        position: relative;
    }

    &__recruitment-block {
        position: absolute;
        top: 306px;
        width: 586px;
        height: 418px;
    }
    &__recruitment {
        position: relative;
        background: rgba(51, 51, 51, 0.5);
        width: 586px;
        height: 310px;
    }

    &__text {
        opacity: 100%;
        width: 526px;
        height: 280px;
        font-family: 'CirceExtra';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 140%;
        color: #FFF;
        position: absolute;
        top: 15px;
        left: 30px;
    }

    &__button {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 163px;
        height: 58px;
    }
}
/*---------------------------------------------------*/
.icon--big{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0px;
    top: 1071px;
    opacity: 15%;
}
/*---------------------------------------------------*/
.about {

	&__title {
        width: 414px;
        height: 87px;
        position: absolute;
        left: 64px;
        background: #FFFFFF;
        z-index: 5;
	}

	&__information-block {
        border:10px solid #EC1B2E;
        width: 638px;
        height: 405px;
        position: absolute;
        bottom: 0px;
	}

	&__text {
        width: 458px;
        height: 243px;
        font-family: 'CirceRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        margin-top: 86px;
        margin-bottom: 76px;
        margin-left: 90px;
        margin-right: 90px;
	}
}
/*---------------------------------------------------*/
.about--red-border {
    position: absolute;
    top: 1030px;
    width: 638px;
    height: 446px;
}
/*---------------------------------------------------*/
.title {
    font-family: 'CirceExtra';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(51, 51, 51, 1);
	&__text {
        width: 354px;
        height: 67px;
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
	}
}
/*---------------------------------------------------*/
.courses {
    position: relative;
    &__title {
        position: absolute;
        display: inline-block;
        left: 25%;
        width: 634px;
        height: 67px;
        font-family: 'CirceExtra';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #333333;
    }

    &__pick-course {
        display: flex;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 68px;
        justify-content: space-between;
    }

    &__course--red {
        display: inline-block;
        width: 306px;
        height: 68px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 140%;
        text-align: center;
        color: #EC1B2E;
    }

    &__course {
        display: inline-block;
        width: 306px;
        height: 68px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }

    &__button{
        width: 175px;
        height: 68px;
        display: inline-block;
        margin-right: 164px;
    }
    &__button-group{
        position: relative;
        top: 35%;
        left: 30%;
    }
    &__button-text{
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-family: 'CirceRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }
}
/*---------------------------------------------------*/
.courses--positioned {
    position: absolute;
    top: 1626px;
    width: 100%;
    height: 285px;
}
/*---------------------------------------------------*/
.table{
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
    &__text{
        display:inline;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 96px;
        margin-bottom: 10px;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #333333;
    }

    &__header {
        background-color:rgba(51, 51, 51, 0.05);
    }

    &__group {
        width: 180px;
        height: 48px;
    }

    &__intensity {
        width: 300px;
        height: 48px;
    }

    &__cost {
        width: 596px;
        height: 48px;
    }

    &__body {
        height: 226px;
        position:relative;
    }

    &__text-age {
        margin-top: 10;
        margin-left: 20px;
        margin-right: 81px;
        margin-bottom: 171px;
    }

    &__text-group--up {
        margin-top: 40;
        margin-bottom: 98px;
    }

    &__text-group--center {
        margin-top: 40;
        margin-bottom: 30px;
    }

    &__text-group-schedule {
        margin-bottom: 18px;
    }

    &__text-group-amount {
        margin-bottom: 18px;
    }
}
/*---------------------------------------------------*/
.table--positioned {
    width: 1076px;
    height: 842px;
    position: absolute;
    top: 2011px;
    left: 9%;
}
/*---------------------------------------------------*/
.main-information-block {
    &__title {
        display: inline-block;
        position: absolute;
        text-align: center;
        left: 34%;
        width: 222px;
        height: 67px;
        align-self: flex-start;
    }
}
/*---------------------------------------------------*/
.main-information-block--positioned-v1 {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 3003px;
    width: 100%;
    height: 752px;
}
/*---------------------------------------------------*/
.information-group {

    &__item {
        position: relative;
        width: 306px;
        height: 585px;
    }

    &__image {
        width: 306px;
        height: 200px;
    }

    &__title {
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }

    &__subtitle {
        display: inline-block;
        position: relative;
        margin: 20px 20px;
        list-style: disc;
    }
    
    &__button{
        position: absolute;
        bottom: 0px;
        left: 25%;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &__list-item{
        display: inline-block;
        font-family: 'CirceRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333; 
    }
}
/*---------------------------------------------------*/
.information-group--positioned-v1{
    width: 100%;
    height: 585px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.main-information-block--positioned-v2 {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 3905px;
    width: 100%;
    height: 752px;
}
.information-group--positioned-v2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 752px;
}
.information-group {

    &__item--v1 {
        position: relative;
        width: 306px;
        height: 585px;
    }
    &__item--v2 {
        position: relative;
        width: 416px;
        height: 539px;
        top: -38px;
    }

    &__image--v1 {
        width: 306px;
        height: 200px;
    }

    &__title--v2 {
        display: inline-block;
        width: 360px;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        line-height: 140%;
        left: 4%;
        text-align: left;
        color: #333333;
        position: relative;
    }

    &__subtitle {
        display: inline-block;
        position: relative;
        margin: 20px 20px;
        list-style: disc;
    }
    
    &__event-button{
        position: absolute;
        background-color: rgba(236, 27, 46, 1);
        bottom: 0px;
        left: 17px;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;

        padding: 15px 30px;
        line-height: 140%;
        color: #FFFFFF;
    }

    &__event-text{
        font-family: 'CirceRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333;  
    }
}
.information-group__image--v2{
    width: 416px;
    height: 250px;
}
.news-block {

    &__title {
        position: absolute;
        top: 0px;
        left: 37%;
        width: 348px;
        height: 67px;
    }

    &__title-name {
        font-family: 'CirceExtra';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.01em;
        color: #333333;
    }

    &__item {
        width: 306px;
        height: 352px;
        position: relative;
    }

    &__title-main {
        width: 306px;
        height: 102px;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: #333333;
    }

    &__subtitle {
        width: 306px;
        height: 132px;
        margin-top: 25px;
        font-family: 'CirceRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
    }

    &__button {
        background-color: red;
        width: 165px;
        height:58px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        font-family: 'CirceBold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #FFFFFF;
        padding: 15px 30px;
    }
}
.news-block--positioned{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 519px;
    top: 4761px;
}


